@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #edeef0;
}
nav a{
  font-weight: 600;
  position: relative;
  transition: 0.8s ease-in;
}
nav a.active::before{
  width: 100%;
}
nav a::before{
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background: #9c9ca5;
  transition: 0.8s ease-in;
}
nav a:hover::before{
  width: 100%;
}
.rotate-img{
  cursor: pointer;
  animation: rotateimg 10s infinite linear;
}

@keyframes rotateimg {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
} 
.rotate-img:hover{
  animation-play-state:paused ;
}
.move-div {
  animation: tofro 6s infinite ;
  
  
}
.stand-div {
  animation: antitofro 6s infinite ;
  
}
@keyframes tofro {
  0% {
    transform: translateX(0);
  }
  
  75% {
    transform: translateX(9px);
  }
  90% {
    transform: translateX(-10px);
  }
  95% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(-5px);
  }
}
@keyframes antitofro {
  0% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-9px);
  }
  90% {
    transform: translateX(10px);
  }
  95% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(5px);
  }
}

.media-link{
  border: 1px solid white;
  border-radius: 10px;
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  transition: 0.8s ease-in-out;
}

.media-link:hover{
  background: rgb(212, 212, 212);
  
}

.media-icon{
  color: white;
  font-size: 20px;
  font-weight: 400;
  transition: 0.8s ease-in-out;
}

.media-link:hover .media-icon{
  transform: rotateY(360deg);
  stroke: #34344b;
  stroke-width: 2;
}